# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_BEAMER_LEFT
  def_bool $(shields_list_contains,beamer_left)

config SHIELD_BEAMER_RIGHT
  def_bool $(shields_list_contains,beamer_right)
