# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_BEAMER_LEFT

config ZMK_KEYBOARD_NAME
  default "Beamer"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
  default y

endif

if SHIELD_BEAMER_LEFT || SHIELD_BEAMER_RIGHT

config ZMK_SPLIT
  default y

endif
